<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBONLTR2FXV4Y7tastVhDjkWHxW9EjUt0g</string>
	<key>GCM_SENDER_ID</key>
	<string>523570126625</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.fashionApp</string>
	<key>PROJECT_ID</key>
	<string>fashionapp-a8b36</string>
	<key>STORAGE_BUCKET</key>
	<string>fashionapp-a8b36.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:523570126625:ios:fad7ad155d01f4e0832860</string>
</dict>
</plist>